*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 auto;
    text-align: center;
}
.white{
    background-color: white; 
}
.grey{
    background-color: grey; 
}
/* header */
header{

    border: 1 px;
    background-color: blue;
    height: 200px;

}
.navigation{
    display: flex;
    justify-content: space-between;
}
.logo{
    background-color: blueviolet;
    width: 40px;
    margin: 30px;
}
.txt{
    text-align: center;
    background-color: blueviolet;
    width: 500px;
    flex-direction: row;
    padding: auto;
}
.description{
    display: flex;
    color: white;

}
/* main */
main{
   height: 500px;
    background-color: grey; 
    display: flex;


}
aside{
    min-height: 200px;
    width: 45%;
    background-color: brown;
}
.png{
    min-height: 200px;
    width: 45%;
    background-color: green;h
}
}
footer{
    background-color: black;
    height: 300px;
}